# Your OpenAI API key
OPENAI_API_KEY=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

# Your Telegram bot token obtained using @BotFather
TELEGRAM_BOT_TOKEN=8095096286:AAGtId-d51HL7ezrDnqffKeQ4WF9ONEMieI

# Telegram user ID of admins, or - to assign no admin
ADMIN_USER_IDS=6183284715,7143123520

# Comma separated list of telegram user IDs, or * to allow all
ALLOWED_TELEGRAM_USER_IDS=6183284715,7143123520
